.header {
    background-color: #222222;
    padding: 20px 0;
    &__wrp {
        display: flex;
        text-align: center;
        justify-content: space-between;

    }

    &__logo-form-wrp {
        display: flex;
    }

    &__search {
        margin: 0 0 0 41px;
    }

    &__link {
        margin: 0 0 0 33px;
    }

    &__menu-btn {
        background: transparent;
    }
    
}

.header__search img:hover,
.header__menu-btn img:hover,
.header__link img:hover{
    background:rgb(0, 183, 255);
    border-radius: 5px;

}
.header__search img:focus,
.header__menu-btn img:focus,
.header__link img:focus{
    border:1px solid red;
}
.header__search img:active,
.header__menu-btn img:active,
.header__link img:active{
    border:1px solid greenyellow;
}

@media (max-width: 1499px) {
    .container {
        width: 675px;
    }
}

@media (max-width: 767px) {
    .container{
        width: 375px;
    }    
}