.header {
    background-color: #222222;
    padding: 20px 0;
    &__wrp {
        display: flex;
        text-align: center;
        justify-content: space-between;

    }

    &__logo-form-wrp {
        display: flex;
    }

    &__search {
        margin: 0 0 0 41px;
    }

    &__link {
        margin: 0 0 0 33px;
    }

    &__menu-btn {
        background: transparent;
    }

    &__search:hover,
    &__link:hover,
    &__menu-btn:hover 
    
    {
        display: inline-block;
        border: 3px solid #F1A8B2;
        border-radius: 5px;
    }
    
}