@mixin font($font-size:22px, $line-height:24px, $font-weuight: 400, $font-style: normal){
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weuight;
    font-style: $font-style;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}